body {
  font-family: "Montserrat";
}
.container {
  width: 892px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
  /* outline: 1px solid red; */
}
.header {
  padding-bottom: 91.5px;
}
.header-box {
  display: flex;
}
.header-list {
  display: flex;
  gap: 20px;
}
.header-logo {
  color: #fed136;
  text-align: center;
  font-family: "Bilbo Swash Caps";
  font-size: 36px;
  font-weight: 400;
  line-height: 43px; /* 113.889% */
  letter-spacing: 1.3px;
  text-decoration: none;
  margin-right: auto;
}

.header-link {
  color: #fed136;
  text-align: center;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 41px; /* 292.857% */
  text-transform: uppercase;
  text-decoration: none;
}
.services {
  padding-bottom: 114px;
}
.services-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 26px;
}

.services-box-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.services-img {
  width: 40.361px;
}
.services-title {
  color: #222;
  text-align: center;
  font-family: Montserrat;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 75px; /* 187.5% */
  letter-spacing: -1px;
  text-transform: uppercase;
}
.services-subtitle {
  color: #222;
  text-align: center;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 75px; /* 416.667% */
  letter-spacing: -0.45px;
}
.services-p {
  width: 264px;
  color: #777;
  text-align: center;
  font-family: RobotoSlab;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.35px;
}
.contact {
  background-color: #222;
  width: 100%;
  padding: 92px 0 115px 0;
}
.contact-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact-text {
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact-subtitle {
  color: #fff;
  font-size: 40px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -1px;
  text-transform: uppercase;
  margin-bottom: 114px;
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form-content {
  display: flex;
  margin-bottom: 27px;
  gap: 15px;
}
.form-input {
  width: 400px;
  padding: 14px 21px 22px 21px;
  color: #bbb;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.35px;
  text-transform: uppercase;
  border-radius: 5px 5px 5px 5px;
}
.form-comment {
  padding: 14px 22px;
  color: #bbb;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.35px;
  text-transform: uppercase;
  border-radius: 5px 5px 5px 5px;
  resize: none;
}
.form-box {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-submit {
  padding: 18px 33px 22px 33px;
  background-color: #fed136;
  color: #fff;
  text-align: center;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  border-radius: 5px 5px 5px 5px;
}

@media screen and (min-width: 294px) {
  .header-logo {
    color: #fed136;
    text-align: center;
    font-family: "Bilbo Swash Caps";
    font-size: 36px;
    font-weight: 400;
    line-height: 43px; /* 113.889% */
    letter-spacing: 1.3px;
    text-decoration: none;
    margin-right: 124px;
  }

  .services-list {
    flex-direction: column;
  }
}

@media screen and (min-width: 320px) {
  .header-logo {
    color: #fed136;
    text-align: center;
    font-family: "Bilbo Swash Caps";
    font-size: 36px;
    font-weight: 400;
    line-height: 43px; /* 113.889% */
    letter-spacing: 1.3px;
    text-decoration: none;
    margin-right: 124px;
  }

  .services-list {
    flex-direction: column;
  }
  .form-content {
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (min-width: 480px) {
  .header-logo {
    color: #fed136;
    text-align: center;
    font-family: "Bilbo Swash Caps";
    font-size: 36px;
    font-weight: 400;
    line-height: 43px; /* 113.889% */
    letter-spacing: 1.3px;
    text-decoration: none;
    margin-right: 168px;
  }

  .form-content {
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .services-list {
    flex-direction: row;
  }

  .form-content {
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (min-width: 887px) {
  .form-content {
    flex-direction: row;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 892px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
    /* outline: 1px solid red; */
  }

  .header {
    padding-bottom: 91.5px;
  }
  .header-box {
    display: flex;
  }
  .header-list {
    display: flex;
    gap: 20px;
  }
  .header-logo {
    color: #fed136;
    text-align: center;
    font-family: "Bilbo Swash Caps";
    font-size: 36px;
    font-weight: 400;
    line-height: 43px; /* 113.889% */
    letter-spacing: 1.3px;
    text-decoration: none;
    margin-right: auto;
  }

  .header-link {
    color: #fed136;
    text-align: center;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 41px; /* 292.857% */
    text-transform: uppercase;
    text-decoration: none;
  }
  .services {
    padding-bottom: 114px;
  }
  .services-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 26px;
  }

  .services-box-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .services-img {
    width: 40.361px;
  }
  .services-title {
    color: #222;
    text-align: center;
    font-family: Montserrat;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 75px; /* 187.5% */
    letter-spacing: -1px;
    text-transform: uppercase;
  }
  .services-subtitle {
    color: #222;
    text-align: center;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 75px; /* 416.667% */
    letter-spacing: -0.45px;
  }
  .services-p {
    width: 264px;
    color: #777;
    text-align: center;
    font-family: RobotoSlab;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.35px;
  }
  .contact {
    background-color: #222;
    padding: 92px 0 115px 0;
  }
  .contact-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .contact-text {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .contact-subtitle {
    color: #fff;
    font-size: 40px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -1px;
    text-transform: uppercase;
    margin-bottom: 114px;
  }
  .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .form-content {
    display: flex;
    margin-bottom: 27px;
    gap: 15px;
  }
  .form-input {
    width: 400px;
    padding: 14px 21px 22px 21px;
    color: #bbb;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.35px;
    text-transform: uppercase;
    border-radius: 5px 5px 5px 5px;
  }
  .form-comment {
    padding: 14px 22px;
    color: #bbb;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.35px;
    text-transform: uppercase;
    border-radius: 5px 5px 5px 5px;
    resize: none;
  }
  .form-box {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .form-submit {
    padding: 18px 33px 22px 33px;
    background-color: #fed136;
    color: #fff;
    text-align: center;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    border-radius: 5px 5px 5px 5px;
  }
}
